.section_quickInfo{
  padding-top: 7%;
  padding-bottom: 7%; /* ESTO PUEDE VARIAR 7%*/
  padding-left: 20%;
  padding-right: 20%;
  perspective: 1000px;
  

}
  
.art_section_quickInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(156,55,224,100);
  border-radius: 15px;
  position: relative;
  width: 100%;
  

 
}


.art_section_quickInfo .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 370px; /* SE PUEDE CAMBIAR */
  
}


.ofice{
  animation: teclear2 2s steps(100) normal;
  margin-top: 0;
  color: #2fedd0;
  text-shadow: 0 0px 2px #FFF, 0 -3px 20px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/


}

.name{
  margin-bottom: 0px;
  animation: teclear 2s steps(222), efecto .5s step-end infinite alternate;
}


.profile_icon{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  
}

.info_enlaces{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
}

.info_enlaces a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  background-color: #F56E00;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 4px 22px -3px rgba(0,0,0,0.75);
  transition: all .5s;
}

.info_enlaces a svg{
  fill: black;

}

.info_enlaces a:hover{
  box-shadow: 0 0px 2px #000000, 0 -3px 15px #F56E00;/*MIRAR SI NOS GUSTA NEON*/

}



.sect_aboutMe{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.section_categ{
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  
}

.section_categ button{
  padding: 15px;
  margin: 15px;
  width: 13%;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  border-bottom: 2px solid black;
  box-shadow: 0 0px 2px #000000, 0 0px 3px #F56E00;/*MIRAR SI NOS GUSTA NEON*/

  background: none;
  font-size: 19px;
  font-weight: bold;
  color: #f56e00;
  transition: all .4s ease;
}

.section_categ button:hover{
  text-shadow: 0 0px 2px #000000, 0 -3px 25px #F56E00;/*MIRAR SI NOS GUSTA NEON*/
  border-bottom: 2px solid #F56E00;


}

.section_categ button.active{
  text-shadow: 0 0px 2px #000000, 0 -3px 25px #F56E00;/*MIRAR SI NOS GUSTA NEON*/
  border-bottom: 2px solid #F56E00;
}

.separateExperience{
  
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
}

/* ************************* */
.cont_experience{
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  padding: 20px;
}

.cont_experience:nth-child(1) .info_Experience{
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
 
  /* Attach animation, linked to the  View Timeline */
  animation: linear experienceLeftBox both;
  animation-timeline: --revealing-image;
 
  /* Tweak range when effect should run*/
  animation-range: entry 10% cover 15%;
}



.cont_experience:nth-child(2){
  flex-direction: row-reverse;
  gap: 11px;
}

.cont_experience:nth-child(2) .info_Experience{
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
 
  /* Attach animation, linked to the  View Timeline */
  animation: linear experienceRightBox both;
  animation-timeline: --revealing-image;
 
  /* Tweak range when effect should run*/
  animation-range: entry 10% cover 15%;
}

.cont_experience:nth-child(2) .data_experience{
  flex-direction: row-reverse;
}

.cont_experience:nth-child(3) .info_Experience{
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;
 
  /* Attach animation, linked to the  View Timeline */
  animation: linear experienceLeftBox both;
  animation-timeline: --revealing-image;
 
  /* Tweak range when effect should run*/
  animation-range: entry 10% cover 15%;
}

.time_exp{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cont_experience:nth-child(2) .data_experience .time_exp{
  flex-direction: row-reverse;
}

.info_Experience{

  border-radius: 15px;
  text-align: left;
  width: 39.5%;
  box-shadow: 0 5px 20px rgba(156,55,224,100);

  padding: 1.3rem 2rem;
}

.info_Experience_p{
  font-size: 19px;
}

.data_experience{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.data_experience_img{
  left:50%;
  border-radius:50%; 
  border: 2px solid #F56E00;
  padding:15px;
  width:45px;
  height:45px
}

.separateExperience::before{
  content: "";
  width: 4px;
  height: 100%;
  background: hsla(0,0%,100%,0.3);
  position: absolute;
}

.separateExperience::after{
  content: "";
  width: 5px;
  height: 5px;
  background: hsla(0,0%,100%,0.3);
  position: absolute;

  clip-path: polygon(50% 100%, 0 0 ,  100% 0);
}


/* ************************* */

@keyframes experienceLeftBox{
  from{
    transform: translateX(-160px);

  }

  to{
    transform: translateX(0px);
  }
}


@keyframes experienceRightBox{
  from{
    transform: translateX(160px);

  }

  to{
    transform: translateX(0px);
  }
}


@keyframes teclear {
  from {
    clip-path: polygon(0% 0%, 0 0, 0 100%, 0% 100%);  
    

  }
  
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    

  }
}

@keyframes teclear2 {
  from {
    clip-path: polygon(0% 0%, 0 0, 0 100%, 0% 100%);  
    text-shadow: 0 0px 0px #FFF, 0 -0px 0px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/
    

  }
  
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    text-shadow: 0 0px 2px #FFF, 0 -6px 25px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/

  }
}

  
@keyframes efecto {
  50%{
    border-color: transparent;

  }
}

/* MEDIA */
@media only screen and (max-width: 1920px){
  .info{
    padding-left: 150px;
  }
  .name{
    font-size: 40px;
  }

  .ofice{
    font-size: 40px;
  }
}

@media only screen and (max-device-width: 1626px){
  .info{
      padding-left: 65px;
  }

  .ofice{
    font-size: 35px;
  }

  .info_enlaces{
    gap: 30px;
  }

  .section_categ{
    justify-content: center;
    gap: 20px;
  }

  .section_categ button{
    width: 20%;
  }
}

@media only screen and (max-device-width: 1472px){

  .info_usuario{
    height: 200px;
    text-align: center;
  }

  .info_enlaces{
    flex-direction: column;
    height: 100%;
    gap: 15px;
    align-items: center;
  }

  .info_enlaces a{
    width: 90%;
   
  }

  .info_enlaces a section{
    align-items: center;
  }
}


@media only screen and (max-width: 1392px){
  .info{
    padding-left: 55px;
  }

  .ofice{
    font-size: 30px;
    }
}

@media only screen and (max-width: 1282px){
  .info{
    padding-left: 0px;
    flex-direction: column;
    justify-content: space-between;
  }
  .art_section_quickInfo{
    flex-direction: column;
    align-items: center;
  }

  .info_enlaces{
    flex-direction: row;
    align-items: normal;
  }
}


@media only screen and (max-width: 390px){

  .section_quickInfo{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10%;
    padding-bottom: 0%;
    perspective: none;
    width: 350px;
    transform: rotateX(0deg) rotateY(0deg)!important;
    margin: 0% auto;
  }
  
  .art_section_quickInfo{
    display: flex;
    flex-direction: column;
    padding: 0;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .image{
    padding-top: 20px;
    margin: 0% auto;
  }

  .profile_icon{
    width: 200px;
    height: 200px;
  
  }
  
  .art_section_quickInfo .info{
    padding-left: 0;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }
  


  .info_enlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .info_enlaces a {
    margin-bottom: 10px;
    width: 100%;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .name{
    text-align: center;
    font-size: 30px;
  }

  .ofice{
    text-align: center;
    font-size: 25px;
  }

  .sect_aboutMe{
    padding-left: 10%;
    padding-right: 10%;

  }

  .section_categ{
    flex-direction: column;
    align-items: center;
    gap: 0px
    
  }
  .section_categ button{
    width: 80%;
  
    margin: 6px
  }



  /* ***********************  */
  .cont_experience{
    flex-direction: column-reverse;
  }


  .cont_experience:nth-child(2){
    flex-direction: column-reverse;

  }
  
  .cont_experience:nth-child(1) .data_experience{
    flex-direction: column;
  }
  
  .cont_experience:nth-child(2) .data_experience{
    flex-direction: column;
  }
  
  .time_exp{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .cont_experience:nth-child(2) .data_experience .time_exp{
    flex-direction: row-reverse;
  }
  
  .info_Experience{
  
    width: 100%;
  }
  
  .info_Experience_p{
    font-size: 19px;
  }
  
  .data_experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  .data_experience_img{
    left:50%;
    border-radius:50%; 
    border: 2px solid #F56E00;
    padding:15px;
    width:45px;
    height:45px
  }
  
  .separateExperience::before{
    content: "";
    width: 3px;
    height: 100%;
    background: hsla(0,0%,100%,0.3);
    position: absolute;
  }





  /* ***********************  */

}
