.section_quickInfo{
  padding-top: 7%;
  padding-bottom: 3%; /* ESTO PUEDE VARIAR */
  padding-left: 20%;
  padding-right: 20%;
  perspective: 1000px;


}
  
.art_section_quickInfo{
  display: flex;
  flex-direction: row;
  padding: 15px;
  box-shadow: 0 5px 20px rgba(156,55,224,100);
  border-radius: 15px;
  position: relative;
  
 
 
}
.art_section_quickInfo .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
  height: 370px; /* SE PUEDE CAMBIAR */
  
}
.art_section_quickInfo .info h1{
  font-size: 40px;
}

.art_section_quickInfo .info .ofice{
  animation: teclear2 2s steps(100) normal;
  margin-top: 0;
  color: #2fedd0;
  text-shadow: 0 0px 2px #FFF, 0 -3px 20px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/


}

.name{
  margin-bottom: 0px;
  animation: teclear 2s steps(222), efecto .5s step-end infinite alternate;
}


.profile_icon{
  width: 380px;
  height: 380px;
  border-radius: 50%;
  
}

.info_enlaces{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
}

.info_enlaces a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  background-color: #F56E00;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 4px 22px -3px rgba(0,0,0,0.75);
  transition: all .5s;
}

.info_enlaces a svg{
  fill: white;

}

.info_enlaces a:hover{
  box-shadow: 0 0px 2px #000000, 0 -3px 15px #F56E00;/*MIRAR SI NOS GUSTA NEON*/

}


.sect_aboutMe{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}

.sect_aboutMe p{
  max-width: 75ch;
  font-size: 25px;
}

.sect_aboutMe p span{
  color: #316AF7;
  font-weight: bold;
}



@keyframes teclear {
  from {
    clip-path: polygon(0% 0%, 0 0, 0 100%, 0% 100%);  
    

  }
  
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    

  }
}

@keyframes teclear2 {
  from {
    clip-path: polygon(0% 0%, 0 0, 0 100%, 0% 100%);  
    text-shadow: 0 0px 0px #FFF, 0 -0px 0px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/
    

  }
  
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    text-shadow: 0 0px 2px #FFF, 0 -6px 25px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/

  }
}

  
@keyframes efecto {
  50%{
    border-color: transparent;

  }
}

/* MEDIA */

@media only screen and (max-width: 390px){

  .section_quickInfo{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10%;
    padding-bottom: 0%;
    perspective: none;
    width: 350px;
    transform: rotateX(0deg) rotateY(0deg)!important;
    margin: 0% auto;
  }
  
  .art_section_quickInfo{
    display: flex;
    flex-direction: column;
    padding: 0;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .image{
    padding-top: 20px;
    margin: 0% auto;
  }

  .profile_icon{
    width: 200px;
    height: 200px;
  
  }
  
  .art_section_quickInfo .info{
    padding-left: 0;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }
  
  .art_section_quickInfo .info h1{
    font-size: 30px;
  }

  .info_enlaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .info_enlaces a {
    margin-bottom: 10px;
    width: 100%;
    transform: rotateX(0deg) rotateY(0deg)!important;

  }

  .name{
    text-align: center;
  }

  .ofice{
    text-align: center;
  }



 
}