/* UN DIV QUE ENGLOBE TODO ES UN POCO POLEMICO */
/* Buscar OTRA forma de hacer esto */


.sectionTitle{
    font-size: 45px;
    color: #3FEDCF;
    text-shadow: 0 0px 2px #FFF, 0 -3px 20px #2FEDCF;/*MIRAR SI NOS GUSTA NEON*/
    
}