@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Mukta:wght@400;500&family=Playfair+Display&family=Poppins:ital,wght@1,200&display=swap');
:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Poppins', sans-seri;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(21, 28, 45, 1); /* rgb(17 7 31 / 1) #242424*/
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

